/*
Student Name: Liam Neely
File Name: styles.css
Date: 9/16/2026
*/

/* Resets the CSS of all pages */
body, header, nav, main, footer, img, h1, h2, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
  background-color: #ffffff;
  padding-bottom: 5%;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for main content */
main {
  font-family: Verdana, Arial, sans-serif;
  font-family: "Lora", serif;
}

main p {
  font-size: 1em;
  padding-left: 2%;
  padding-right: 2%;
}

/* Classes should be used for all centered main content across all pages */
.centercontent {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.imgcentercontent {
  display: block;
  margin: auto;
  max-width: 35%;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* Special rules for cookbook images */
.cookbook {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cookbook img {
  width: 35%;
  height: auto;
}

/* Style rules for navigation area */
nav {
  background-color: #000000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0;
}

nav li {
  display: block;
  font-size: 1.5em;
  font-family: Geneva, Arial, sans-serif;
  font-weight: bold;
}

nav li a {
  display: block;
  color: #ffffff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
}

/* Style rules for class and id selectors */
.link {
  text-decoration: none;
}

.round {
  border-radius: 6px;
}

.mobile {
  padding: 2%;
  text-align: center;
}

.tab-desk {
  display: none;
}

.headerimg {
  display: block;
  margin-left: auto;
  margin-top: auto;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bouncyballs {
  border: 2px solid #000000
}

/* Only used for the imbeded Google Map */
#locationpadding {
  padding: 3%
}

/* Style rules for header content */
header {
  background-color: #D3D3D3;
}

header h1 {
  text-align: center;
  padding: 2%;
}

/* Style rules for footer content */
footer {
  text-align: center;
  font-size: 0.85em;
  background-color: #000000;
  color: #ffffff;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 0%;
  padding-left: 0%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: Geneva, Arial, sans-serif;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
  /* Media Query for Large Desktop Viewports */
    @media screen and (min-width: 1921px) {
      #wrapper {
        width: 1920px;
        margin: 0 auto 0 auto; /* Margin goes clockwise: top, right, bottom, left */
      }
    }
  /* Tablet Viewport: Show tab-desk class, hide mobile class */
  .tab-desk {
    display: block;
  }
  .mobile {
    display: none;
  }
  /* Tablet Viewport: Style rules for nav area */
  nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.25em;
  }
  nav li a {
  padding: 0.5em;
  }
  nav li a:hover {
  color: #000000;
  background-color: #f0f0f0;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
  /* Desktop Viewport: Style rules for nav area */
    nav li {
      font-size: 1.5em;
    }
    nav li a {
      padding: 0.5em 1.5em 0.5em 1.5em; /* Padding goes clockwise: top, right, bottom, left */
    }
}